body{
    background-color: lightgreen
}
.fit-picture {
    width: 100px;
    height: auto;
    margin-top: 5px;
}
div#image{
     background-color: blue;
     text-align: center;
}
.container{
     padding: 10px;
     border: dotted;
}
li {
    color: blue;
    list-style-type: circle;
    font-weight: bold;
    margin-bottom: .5rem;
}

li li {
    color: blue;
    list-style-type: disc;
    font-weight: lighter;
}
.table{
     width: fit-content;
     margin-left: 50px;
     background-color: white;
     
}
table,th{padding-left: 5px;}
table,
td {border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    padding-left: 5px;
}
caption{
     caption-side: bottom;
     text-align: right;
     font-size: small;
     background-color: lightgreen;
}
thead,
tfoot {
    background-color: rgb(228, 42, 150);
    color: whitesmoke;
}
  
a:hover { 
    background-color: yellow;
  }
form.contact-form {
    display: table;
}

div.contact-form {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 15px;
}

label {
    padding-right: 15px;
}
